<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.js"></script>

    <script src="../static/app.js"></script>
    <link href="../static/style.css" rel="stylesheet" />

    <meta charset="utf-8">
    <meta property="og:url"                content="http://bitroam.herokuapp.com/" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="BitRoam" />
    <meta property="og:description"        content="" />
    <meta property="og:image"              content="/static/art/looking left.png" />
    <title>BitRoam</title>
</head>

<body>

  <div id='loading-screen'>
  </div>

    <audio id="song-player" autoplay="true" loop="true">
      <source id="song" src="../static/audio/STROLL SONG (NO MEL).mp3" type="audio/mpeg">
    </audio>

    <div id='loading-container' class='container'>
      <div class='center-div' id='loading-text-div'>
        <p class='game-text' id='loading-text'>   Loading Weather</p>
        <img id='loading-bar' src='/static/art/loading0.png'/>
      </div>
    </div>

    <div id="inst-container" class="container">
        <div class='center-div' id="moving-instructions-div">
            <p class='game-text' id="moving-instructions">Use the left and right arrow keys to move.</p>
        </div>
    </div>

    <div id="item-text-container" class="container">
      <div class='center-div' id="centering-div">
        <p class='game-text' id='item-text'></p>
      </div>
    </div>

    <div id="animation">
        <div id="boy-walking">
        </div>

        <div id="sky-div">
        </div>

        <div id="clouds-2-div">
        </div>

        <div id="clouds-1-div">
        </div>

        <div id='weather-div'>
        </div>

        <div id="hills-1-div">
        </div>

        <div id="hills-2-div">
        </div>
    </div>

    <div id="audio-icon-div">
        <img id="audio-icon" src="/static/art/audio.png" />
    </div>

</body>

</html>
