@import url('https://fonts.googleapis.com/css?family=VT323');
body, html {
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#animation {
    height: 100%;
    width: 100%;
}

#boy-walking img {
    height: 30%;
    position: absolute;
    bottom: -15px;
    left: 40%;
    z-index: 100;
    -webkit-transform: translate3d(0,0,0);
}

#hills-1-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./art/hills 1 large.png");
    background-repeat: repeat-x;
    background-size: 100% 100%;
    height: 100%;
    z-index: 90;
    -webkit-transform: translate3d(0,0,0);
}

#hills-2-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./art/hills 2 large.png");
    background-repeat: repeat-x;
    background-size: 100% 100%;
    height: 100%;
    z-index: 80;
    -webkit-transform: translate3d(0,0,0);
}

#sky-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./art/grey-sky.png");
    background-size: 100% 100%;
    height: 100%;
    z-index: 70;
    -webkit-transform: translate3d(0,0,0);
}

#clouds-1-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./art/cloud-layer-1.png");
    background-size: 100% 100%;
    height: 100%;
    z-index: 75;
    -webkit-transform: translate3d(0,0,0);
}

#clouds-2-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./art/cloud-layer-2.png");
    background-size: 100% 100%;
    height: 100%;
    z-index: 75;
    -webkit-transform: translate3d(0,0,0);
}

/*#weather-parent-div {
  opacity: 0.9;
}*/

#weather-1-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./art/rain-1.png");
    background-size: 450px 325px;
    height: 100%;
    z-index: 200;
    -webkit-transform: translate3d(0,0,0);
    opacity: 0.4;
}

#weather-2-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./art/rain-2.png");
    background-size: 450px 325px;
    height: 100%;
    z-index: 150;
    -webkit-transform: translate3d(0,0,0);
    opacity: 0.4;
}

#weather-3-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./art/rain-3.png");
    background-size: 450px 325px;
    height: 100%;
    z-index: 130;
    -webkit-transform: translate3d(0,0,0);
    opacity: 0.4;
}

#audio-icon-div {
    z-index: 10000000;
    position: absolute;
    left: 20px;
    right: 0;
    bottom: 0;
}

#audio-icon {
    height: 50px;
    opacity: 0.5;
}

.container {
    position: absolute;
    left: 50%;
    top: 35%;
}

.center-div {
    z-index: 120;
    position: relative;
    left: -50%;
    top: -35%;
    width: 800px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: thick;
    opacity: 0.7;
}

.game-text {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 5px;
}
